@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #191919;
    line-height: 22px;
    color: #fff;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
    margin-bottom: 20px;
}
.info-text p {
    font-weight: bold;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}

.info-text h4 {
    margin-bottom: 10px;
}

.card {
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
}

.hobby {
    background-color: #000;
}

.experience {
    background-color: #000;
}

.courses {
    background-color: #000;
}

.btn {
    width: 150px;
    background: #118ad8;
    color:#fff;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue ;
}

/* a:visited {
    color :grey;
} */

.list {
    margin: 0;
    list-style: square;
}

.list li {
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.7)
}

.table {
    width: 100%;
    padding-left: 10px;
}

.table td {
    text-align: left;
    padding-bottom: 8px;
}
.table thead {
    text-align:left;
}

.table td:nth-child(2), .table td:nth-child(3) {
    color:rgba(255, 255, 255, 0.7);
}

/* .table tr:nth-child(even) {
    background: #eee;
} */

.navbar {
    margin:auto;
    max-width: 750px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 20px;
    float:right;
}

.navbar ul li {
    margin-right: 10px;
    padding: 10px;
}

.navbar ul li.last-child {
    margin-right: 0;
}